<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/home']">My Intro Web</a>
  <button
    class="navbar-toggler"
    type="button"
    (click)="onToggleNavbar()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    [ngClass]="{ show: navbarOpen }"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']">Home </a>
      </li>
      <li *ngIf="isAuth" class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/application']">Projects</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/about-me']">About</a>
      </li>
    </ul>

    <div *ngIf="!isAuthRoute() && !isAuth">
      <form
        (ngSubmit)="onSubmit(navForm)"
        #navForm="ngForm"
        class="form-inline my-2 my-lg-0"
      >
        <input
          type="email"
          id="email"
          class="form-control mr-sm-2"
          [ngClass]="{ 'is-invalid': !email.valid && email.touched }"
          ngModel
          name="email"
          required
          email
          placeholder="Email"
          #email="ngModel"
        />
        <input
          type="password"
          id="password"
          class="form-control mr-sm-2"
          [ngClass]="{ 'is-invalid': !password.valid && password.touched }"
          ngModel
          password
          name="password"
          required
          minlength="6"
          placeholder="Password"
          #password="ngModel"
        />
        <button
          class="btn btn-secondary my-2 my-sm-0"
          type="submit"
          [disabled]="!navForm.valid"
        >
          Login
        </button>
      </form>
    </div>
    <div *ngIf="isAuth">
      <button class="btn btn-warning" (click)="onLogout()">Logout</button>
    </div>
  </div>
</nav>
<app-alert [message]="error" *ngIf="error" (close)="onHandleError()">
</app-alert>
