
<div class="row justify-content-center mt-5">
  <div class="col-lg-9">
    <div class="row">
      <h1 class="mr-5">About me</h1>
      <img class="rounded-circle" src="assets/images/profile.jpg" />
    </div>
    <div class="mt-5 lead">
      <p>
        My name is Adam. I'm a starting developer who is studying the Applied
        Informatics at University of Finance and Administration Applied
        Informatics. In my free time I learn new technologies like Angular,
        Bootstrap, Unity, .NetCore etc. This website is my "Hello World" in
        Angular Front-end technology.
      </p>
      <p>Soon i am going to learn one of these technologies Ionic,
         MVC/WebAPI .Net Core, Angular animations. Mostly skills got from web Udemy.</p>
    </div>
  </div>
</div>
<div id="container">
  <div id="stage" style="transform: translateZ(-200px);">
    <div id="shape" class=" backfaces ring">
      <div class="plane one">
        <img src="assets\images\angular.svg" />
      </div>

      <div class="plane two">
        <img src="assets\images\bootstrap.svg" />
      </div>

      <div class="plane three">
        <img src="assets\images\html.png" />
      </div>

      <div class="plane four">
        <img src="assets\images\javascript.svg" />
      </div>

      <div class="plane five">
        <img src="assets\images\css.svg" />
      </div>

      <div class="plane six">
        <img src="assets\images\dot-net-core.svg" />
      </div>
    </div>
  </div>
</div>
