#container {
  width: 100%;
  height: 700px;
  -webkit-perspective: 800;
  -webkit-perspective-origin: 50% 225px;
}
#stage {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
}

#shape {
  position: relative;
  top: 160px;
  margin: 0 auto;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
}

.plane {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 1px solid white;
  -webkit-border-radius: 12px;
  -webkit-box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  color: white;
  background-color: #fcd7cd; /* #80c8b4; */
  -webkit-transition: -webkit-transform 2s, opacity 2s;
  -webkit-backface-visibility: hidden;
}

.plane img {
  width: 150px;
  height: 150px;
  padding-top: 20px;
}

#shape.backfaces .plane {
  -webkit-backface-visibility: visible;
}

#shape {
  -webkit-animation: spin 12s infinite linear;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

/* ---------- ring styles ------------- */
.ring > .one {
  -webkit-transform: translateZ(200px);
}

.ring > .two {
  -webkit-transform: rotateY(60deg) translateZ(200px);
}

.ring > .three {
  -webkit-transform: rotateY(120deg) translateZ(200px);
}

.ring > .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
}

.ring > .five {
  -webkit-transform: rotateY(240deg) translateZ(200px);
}

.ring > .six {
  -webkit-transform: rotateY(300deg) translateZ(200px);
}

.controls {
  width: 80%;
  margin: 0 auto;
  padding: 5px 20px;
  -webkit-border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.5);
}
.controls > div {
  margin: 10px;
}

h1 {
  font-size: 100px;
  font-family: inherit;
}

img {
  width: 150px;
  height: 150px;
}
.lead {
  font-weight: 400;
}
