<div class="py-5">
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-12 col-md-9">
      <app-alert
        [message]="error"
        *ngIf="error"
        (close)="onHandleError()">
      </app-alert>
      <div *ngIf="isLoading" style="text-align: center;">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <form (ngSubmit)="onSubmit()" #f="ngForm" *ngIf="!isLoading">
        <div class="header">
          <div class="logo text-center"><h2>My Intro Web</h2></div>
          <p class="lead  text-center">
            {{ isLoginMode ? "Login to your Account!" : "Create an Account!" }}
          </p>
        </div>
        <div class="form-group" has-danger>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            [ngClass]="{ 'is-invalid': !email.valid && email.touched }"
            ngModel 
            name="email"
            required
            email
            #email="ngModel"
          /><!-- pres ngModel se dostane atribut do formu -->
          <div *ngIf="!email.valid && email.touched" class="invalid-feedback">
            Please enter a valid email!
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': !password.valid && password.touched }"
            ngModel
            password
            name="password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            *ngIf="!password.valid && password.touched"
            class="invalid-feedback"
          >
            Must contain at least 6 or more characters.
          </div>
        </div>
        <div *ngIf="!isLoginMode" class="form-group">
          <label for="passwordConfirm">Confirm password</label>
          <input
            type="password"
            id="passwordConfirm"
            class="form-control"
            ngModel
            password
            name="passwordConfirm"
            #passwordConfirm="ngModel"
            required
            [ngClass]="{
              'is-invalid': !passwordConfirm.valid && passwordConfirm.touched,
              'is-valid': passwordConfirm.valid
            }"
            pattern="{{ password.value }}"
          />
          <div
            *ngIf="!passwordConfirm.valid && passwordConfirm.touched"
            class="invalid-feedback"
          >
            Password & Confirm Password does not match.
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-success btn-lg btn-block"
            [disabled]="!f.valid"
          >
            {{ isLoginMode ? "Login" : "Register" }}
          </button>
          <button
            type="button"
            class="btn btn-info btn-lg btn-block"
            (click)="onSwitchForm()"
          >
            Switch to {{ !isLoginMode ? "Login" : "Register" }}
          </button>
          <hr />
          <button
            type="button"
            class="btn btn-outline-danger btn-lg btn-block"
            [routerLink]="['/home']"
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
