<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img
          class="card-img-top img-thumbnail"
          src="{{ project?.imagePath }}"
          alt="{{ project?.name }}"
        />
        <div class="card-body">
          <strong>Name:</strong>
          <p>{{ project?.name }}</p>
        </div>

        <div class="card-footer">
          <div class="btn-group d-flex">
            <button class="btn btn-success w-100" (click)="onGoToUrl()">
              Download
            </button>
          </div>
          <div class="btn-group d-flex mt-1">
            <button class="btn btn-danger w-100" (click)="onConfirmDelete()">
              Delete
            </button>
          </div>
          <div class="btn-group d-flex mt-1">
            <button class="btn btn-warning w-100" (click)="onEditProject()">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{ project?.name }}">
            <div class="mt-3">
              <h3>Description</h3>
              <p>{{ project?.desc }}</p>
            </div>
          </tab>
          <tab heading="Properties">
            <div class=" table-responsive mt-3">
              <h3>Properties</h3>
              <table class="table table-hover">
                <thead>
                  <tr class="table-primary">
                    <th>Property</th>
                    <td>Value</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Name</td>
                    <td>{{ project?.name }}</td>
                  </tr>
                  <tr>
                    <td>Last update</td>
                    <td>{{ project?.lastUpdate | date:' d. M. y, H:mm:ss' }}</td>
                  </tr>
                  <tr>
                    <td>Description</td>
                    <td>{{ project?.desc }}</td>
                  </tr>
                  <tr>
                    <td>File Url</td>
                    <td>{{ project?.filePath }}</td>
                  </tr>
                  <tr>
                    <td>Image Url</td>
                    <td>{{ project?.imagePath }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
