<div class="text-center">
    <div class="error mx-auto mt-3" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-2">It looks like you found a glitch in the matrix...</p>
     <a class="btn btn-info" [routerLink]="['/home']">&larr; Back to Dashboard</a> 
  </div>