<div class="backdrop" (click)="onClose()"></div>
<div class="alert  alert-danger alert-box">
  <button type="button" class="close" (click)="onClose()">&times;</button>
  <strong>Oh snap!</strong>
   {{message}}
</div>
