/*Obrazek v karte*/

.card:hover img {
  transform: scale(1.2, 1.2); /* obrazek se zvetsi */
  transition-duration: 550ms;
  transition-timing-function: ease-out;
  opacity: 0.7;
}

.card img {
  transform: scale(1, 1); /* obrazek se zvetsi */
  transition-duration: 550ms;
  transition-timing-function: ease-out;
}

.card-img-wrapper {
  overflow: hidden; /* fotka nevylezou z karty*/
  position: relative;
}

/*IKONKY*/
.member-icons {
  position: absolute; /* ikonky budou pres obrazek*/
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
}

.card-img-wrapper:hover .member-icons {
  opacity: 1;
  bottom: 0;
}

/* slide animation icons*/

.animate {
  transition: all 0.3s ease-in-out;
}

a {
  cursor: pointer;
}
