<div class="card mb-4">
 <a [routerLink]="[index]" > <div class="card-img-wrapper">
    <img
      class="card-img-top"
      src="{{ project.imagePath }}"
      alt="{{ project.name }}"
      style="height: 200px;"
    />
  </div></a>
  <div class="card-body p-1">
    <h5 class="card-tittle text-center mb-1">
      {{ project.name }}
    </h5>
    <p class="card-text text-muted text-center">{{project.lastUpdate | date}}</p>
  </div>
</div>
