<div class="row mt-2">
  <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewApp()">
          New Project
      </button>
  </div>
</div>
<app-loading-spinner *ngIf="isLoading" class="row justify-content-center"></app-loading-spinner>
<div class="container mt-3">
    <div class="row">
        
      <div *ngFor="let project of projects; let i = index" class="col-lg-3 col-md-6 col-sm-6">
          
        <app-project-card [project]="project"  [index] ="i"></app-project-card>
      </div>
    </div>
  </div>
  