<div class="container mt-5">
  <div style="text-align: center">
    <h1>Welcome in my Angular web</h1>
    <p class="lead">
      Try my features... All you need to do is sign up!
    </p>
    <div class="text-center">
      <button class="btn btn-success btn-lg mr-2" (click)="onRegistration()">
        Register
      </button>
      <button class="btn btn-info btn-lg" [routerLink]="['/about-me']">
        Learn more
      </button>
    </div>
  </div>
</div>
