<div class="mt-3">
  <div class="row">
    <div class="col-xl-6 col-lg-12 col-md-9">
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">File Name</label>
          <input
            type="text"
            id="name"
            [ngClass]="{
              'is-invalid':
                !projectForm.get('name').valid && projectForm.get('name').touched,
              'is-valid': projectForm.get('name').valid
            }"
            formControlName="name"
            class="form-control"
            #name
          />
          <div
            *ngIf="!projectForm.get('name').valid && projectForm.get('name').touched"
            class="invalid-feedback"
          >
            Please enter a valid file name!
          </div>
        </div>
        <div class="form-group">
          <label for="imagePath">Image Url</label>
          <input
            type="text"
            id="imagePath"
            formControlName="imagePath"
            class="form-control"
            #imagePath
            [ngClass]="{
              'is-invalid':
                !projectForm.get('imagePath').valid &&
                projectForm.get('imagePath').touched,
              'is-valid': projectForm.get('imagePath').valid
            }"
          />
          <div
            *ngIf="
              !projectForm.get('imagePath').valid &&
              projectForm.get('imagePath').touched
            "
            class="invalid-feedback"
          >
            Please enter a valid Image Url!
          </div>
        </div>
        <img
          [src]="imagePath.value"
          class="img-responsive"
          style="max-height: 150px;"
        />
        <div class="form-group">
          <label for="desc">Description</label>
          <textarea
            type="text"
            id="desc"
            formControlName="desc"
            class="form-control"
            #appDesc
           
            [ngClass]="{
              'is-invalid':
                !projectForm.get('desc').valid && projectForm.get('desc').touched,
              'is-valid': projectForm.get('desc').valid
            }"
            rows="6"
          ></textarea>
          <div
            *ngIf="!projectForm.get('desc').valid && projectForm.get('desc').touched"
            class="invalid-feedback"
          >
            Please enter a valid Description!
          </div>
        </div>
        <div class="form-group">
          <label for="filePath">File Url</label>
          <input
            type="text"
            id="filePath"
            formControlName="filePath"
            class="form-control"
            #filePath
            [ngClass]="{
              'is-invalid':
                !projectForm.get('filePath').valid &&
                projectForm.get('filePath').touched,
                'is-valid': projectForm.get('filePath').valid
            }"
          />
          <div
            *ngIf="
              !projectForm.get('filePath').valid && projectForm.get('filePath').touched
            "
            class="invalid-feedback"
          >
            Please enter a valid File Url!
          </div>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-success mr-2"
            [disabled]="!projectForm.valid || !projectForm.dirty"
          >
           {{ isEditMode ? 'Save' : 'Create'}}
          </button>
          <button
            type="submit"
            class="btn btn-danger"
            [routerLink]="['../']" 
          >
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
